<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('../includes/style.ejs') %>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/auth.css">


</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">

        <main>

            <form class="login-form auth-form" action="/new-password" method="POST">
                <h1>ادخال رقم المرور الجديد</h1>

                <%- include('../includes/message.ejs') %>
                <div class="auth-form_normal">

                    <div class="form-control">
                        <label for="password">رقم المرور الجديد</label>
                        <input type="password" name="password" id="password">
                    </div>

                    <div class="form-control">
                        <label for="confpassword">تاكيد رقم المرور الجديد</label>
                        <input type="confpassword" name="confpassword" id="confpassword">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <button class="btn " type="submit">Reset</button>
                </div>
            </form>
        </main>
    </div>
    <%- include('../includes/footer.ejs') %>
    <p class="footer-copyright">Designed and developed by <a style="color:#fff;"
            href="https://amsstudio.me">AMS-Studio</a> </p>
    <%- include('../includes/scripts.ejs') %>

</body>

</html>