<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('../includes/style.ejs') %>
    <link rel="stylesheet" href="/css/about.css">


</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">

        <main>
            <%- include('../includes/message.ejs') %>
            <h1>شكرا لأختيارك لنا نقدر ثقتك بنا, الأن لديك شحنه مجانيه بحد اقصي 2 كيلو جرام داخل القاهره.</h1>
            <p>ادخل دلوقتي لحسابك و انشئ طلبك الاول</p>
            <a href="/login">تسجيل الدخول</a>
        </main>
        <%- include('../includes/footer.ejs') %>
    </div>

    <%- include('../includes/scripts.ejs') %>

</body>

</html>