<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../admin/includes/styles.ejs') %>
    <link rel="stylesheet" href="/admin/css/dashboard.css" />
    <style>

    </style>
</head>

<body class="opened-menu">
  <%- include('../admin/includes/side-nav.ejs') %>
    <div class="wrapper">

      <section class="options">

        <div class="flex f-space-between">
          <h2>المحادثات</h2>

        </div>
      </section>
      <main class="chat">
        <input type="hidden" name="s" value="<%=user._id%>" id="s">

        <div class="users-menu">
          <ul>
            <% alladmins.forEach(s=>{ %>
              <li class="admin" data-n="<%=s.name%>" data-aid="<%=s._id%>" data-cid="<%=s.chatId%>"
                data-did="<%=user._id%>" data-c="<%=user._id%>">
                <h3>
                  <%=s.name%>
                </h3>
                <p>
                  <%=s.role%>
                </p>
                <span class="new-chats-no none"></span>
              </li>
              <% }) %>
          </ul>

        </div>
        <div class="reports-wrapper">
          <div class="chat-box ">
            <div class="box-header c-b ">
              <h3>اختار المشرف</h3>
              <small id="typing" class="text-white none">يكتب...</small>
            </div>

            <div class="chating h-100 none">

              <ul id="messages" class="box-messages">

              </ul>

              <div class="box-footer">


                <form id="send-group-msg-from" autocomplete="off">
                  <div class="flex">
                    <button type="submit">ارسل</button>

                    <div class="image-input">
                      <input type="file" accept="image/*" id="imageInput">
                      <label for="imageInput" class="image-button"><i class="far fa-image"></i> </label>
                      <div class="image-preview-wrapper none">
                        <div class="image-box">
                          <img src="" class="image-preview">
                          <span class="change-image"><i class="fas fa-times"></i></span>
                        </div>
                        <button id="send-image"><i class="fas fa-arrow-right"></i>ارسال</button>
                      </div>
                    </div>

                  </div>
                  <input type="text" class="form-control" id="group-msg" placeholder="اكتب الرساله">
                </form>
              </div>
            </div>
          </div>

        </div>

      </main>
    </div>

    <%- include('../admin/includes/scripts.ejs') %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
      <script src="/general/js/chat.js"></script>

</body>

</html>