<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('../includes/dashboard_style.ejs') %>
    <link rel="stylesheet" href="/user/css/shipments.css">
    <link rel="stylesheet" href="/user/css/shippment_form.css">


</head>

<body class="opened-menu">
    <%- include('../includes/top-menu.ejs') %>
    <%- include('../includes/dashboard-menu.ejs') %>
    <div class="wrapper">

        <%- include('../includes/message.ejs') %>

        <div class="orders wrapper-body">
            <div class="wrapper-body_head">
                <div class="left">
                    <h2>حسابي</h2>
                    <h3>الشحنات</h3>
                </div>
                <div class="right">
                    <button id="createNew" class="bg-main btn open-form">شحنه جديد</button>
                </div>
            </div>
            <div class="orders-body">
                <table id="table">
                    <tr>
                        <th>رقم الشحنه</th>
                        <th>الحاله</th>
                        <th class="hidden-sm">العنوان</th>
                        <th>تاريخ التسليم</th>
                        <th class="hidden-sm">سعر الشحن </th>
                        <th class="hidden-sm">سعر المنتج </th>
                    </tr>
                    <% shipments.forEach(o => { %>
                    <tr>
                        <td class="none">

                            <input type="text" name="" class="orderlink none"
                                value="http://localhost:3000/shipment/<%=o.shipmentNo%>" />
                        </td>

                        <td> <a href="/shipment/<%=o.shipmentNo%>"><%=o.shipmentNo%></a></td>
                        <td><%=o.status.text%></td>

                        <td class="hidden-sm"><%=o.receiver.address%></td>
                        <td><%=o.delivery_date%></td>
                        <td class="hidden-sm"><%=o.shipping_price%></td>
                        <td class="hidden-sm"><%=o.price%></td>

                        <td data-link="http://localhost:3000/shipment/<%=o.shipmentNo%>" class="tooltip copylink">
                            <span class="tooltiptext">انسخ لينك الطلب</span> <i class="fas fa-paste"></i>
                            <span class="done none">تم النسخ</span>
                        </td>
                    </tr>
                    <%})%>

                </table>
            </div>
        </div>

        <%- include('../includes/shipment_form.ejs') %>

        <!-- <%- include('../includes/footer.ejs') %> -->
    </div>
    <p class="footer-copyright">Designed and developed by <a style="color:#fff;"
            href="https://amsstudio.me">AMS-Studio</a> </p>

    <%- include('../includes/scripts.ejs') %>
    <script src="/user/js/create_order.js"></script>

</body>

</html>