<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('../includes/dashboard_style.ejs') %>
        <link rel="stylesheet" href="/user/css/tracking.css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style>
            #map,
            #map_canvas {
                width: 450px;
                height: 450px;
            }
        </style>

</head>

<body class="opened-menu" onload="">
    <%- include('../includes/top-menu.ejs') %>
        <%- include('../includes/dashboard-menu.ejs') %>
            <div class="wrapper">

                <%- include('../includes/message.ejs') %>
                    <div class="wrapper-body">

                        <div class="wrapper-body_head">
                            <div class="left">
                                <h2>حسابي</h2>
                                <h3>تتبع الشحنه</h3>
                            </div>
                            <div class="right">
                            </div>
                        </div>
                        <% if(!shipment){ %>
                            <form action="/user/tracking" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="form-control">
                                    <label for="name">رقم الشحنه</label>
                                    <input type="text" name="shipmentId" id="shipmentId" placeholder="ادخل رقم الشحنه "
                                        required>
                                </div>
                                <div class="flex f-end">
                                    <button type="submit" class="btn btn-success m-3">تتبع</button>
                                </div>
                            </form>
                            <% } %>
                                <% if( shipment) { %>
                                    <input type="hidden" name="shipmentId" value="<%=shipment.shipmentNo%>"
                                        id="shipmentId">

                                    <% if( shipment.status.no !=0 || shipment.status.no !=4) { %>
                                        <div id="map_canvas"></div>
                                        <div id="not_ready" class="none">
                                            <!-- <h3>Please Wait Until The Driver Move Towards You</h3> -->
                                            <h3>برجاء الانتظار حتي يتحرك المندوب في اتجهاك للتتبع الشحنه</h3>
                                        </div>
                                        <% } %>
                                            <% } %>

                                                <div class="pop-up_container none" id="create_form">

                                                    <div class="pop-up_container_form">
                                                        <i class="fas fa-times close close-form"></i>
                                                        <form action="/user/tracking" method="POST">
                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                            <div class="form-control">
                                                                <label for="name">رقم الشحنه</label>
                                                                <input type="text" name="name" id="name"
                                                                    placeholder="ادخل رقم الشحنه " required>
                                                            </div>
                                                            <div class="flex f-end">
                                                                <button type="submit"
                                                                    class="btn btn-success m-3">تتبع</button>
                                                                <a class="btn btn-danger close-form m-3">اغلاق</a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>



                    </div>
            </div>

            <%- include('../includes/scripts.ejs') %>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>


                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <script type="text/javascript"
                    src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                <!-- <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzU53_QcDKyLrTN60AkxM3WbGhPgDIsek&callback=initMap&libraries=&v=weekly"
                    async></script> -->
                <script type="text/javascript" src="/user/js/tracking_map.js"></script>

</body>

</html>