<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../includes/style.ejs') %>
    <link rel="stylesheet" href="/user/css/about.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">
        <section id="contact">
            <h1>أتصل بنا</h1>
            <div class="grid g-two">


                <div>
                    <p>002-01156565910</p>
                    <p>002-01143451621</p>
                    <p>العنوان :</p>

                </div>
                <div>
                    <img class="w-75 block m-auto" src="/user/images/Contact.svg" alt="">
                </div>
            </div>
            <h2>رسالتك تهمنا, سيبها و هنرد عليك في اسرع وقت</h2>
            <form class="auth-form" action="/login" method="POST">
                <%- include('../includes/message.ejs') %>

                <div class="auth-form_normal">
                    <div class="form-control">
                        <label for="password">اسمك </label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-control">
                        <label for="mobile">رقم الموبايل</label>
                        <input type="text" name="mobile" id="mobile">
                    </div>
                    <div class="form-control">
                        <label for="message">رسالتك</label>
                        <textarea name="message" id="message" rows="5px"></textarea>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn  hvr-bounce-to-left" type="submit">ارسال</button>

                </div>

            </form>
        </section>
    </div>

    <%- include('../includes/footer.ejs') %>
    <p class="footer-copyright">Designed and developed by <a style="color:#fff;"
            href="https://amsstudio.me">AMS-Studio</a> </p>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>