<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('../includes/style.ejs') %>

    <link rel="stylesheet" href="/user/css/home.css">
    <link rel="stylesheet" href="/user/css/about.css">

</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <div class="wrapper">
        <section class="grid g-two" style=" align-items: center;  justify-items: center;">
            <div class="header-intro">
                <h1>Carry It</h1>
                <p> اسرع وقت, ارخص تكلفه, تتبع للشحنات ليك و لعملائك</p>
                <p class="header-intro_offer">سجل دلوقتي و خد اول توصيل ليك ببلاش</p>
                <a class="btn hvr-bounce-to-left" href="/signup">خد التوصيله</a>
            </div>
            <div class="header-img">
                <img src="/user/images/Main-Image.svg" alt="" srcset="">
            </div>
        </section>
        <!-- <section id="services" >
            <h2>خدماتنا</h2>
            <div class="section-wrapper grid g-three">

                <div class="services-item">
                    <i class="fas fa-dollar-sign"></i>
                    <h3>احسن سعر</h3>
                    <p>لأننا يهمنا رضاء عملائك, نضمن لك احسن سعر بالمقارنه بالأخرين</p>
                </div>
                <div class="services-item">
                    <i class="fas fa-wrench"></i>
                    <h3>دائما موجودون لأجلك</h3>
                    <p>تواصل معانا في اي وقت سنكون موجودين دائما</p>
                </div>
                <div class="services-item">
                    <i class="fas fa-shipping-fast"></i>
                    <h3>اسرع شحن</h3>
                    <p>اسرع تجربه شحن بحد اقصي 48 ساعه</p>
                </div>
            </div>
        </section> -->
        <section id="about">

            <h2>ليه احنا!</h2>
            <p>
                عشان احنا كنا في يوم مكانك و شوفنا العملاء بتبعد بسبب مشكله ملناش ايد
                فيها. <br>
                عشان كده قررنا ننشئ الشركه مع الوضع في الاعتبار كل المشاكل اللي بتواجهك من
                تاخير و تلف و خساره عملاء. <br> احنا بنضمنلك انها مش هتحصل لان سبب تأسسنا للشركه هو حل كل المشاكل
                المتعارف
                عليها لشركات الشحن
            </p>
            <a class="btn hvr-bounce-to-left" href="/about">اعرف اكتر</a>

        </section>
        <section id="services" class="grid g-two">

            <div>
                <h2>خدماتنا </h2>
                <p class="details">
                    بتدور علي شركه شحن؟ <span>Carry It</span> هتجيلك تاخد بضاعتك و هتوصلهلك لأي مكان في الوقت المحدد
                    بأحسن تكلفه. <br><br> اكتشف ما يمكن أن تقدمه خدمات الشحن لدينا لعملك.
                </p>
                <a class="btn hvr-bounce-to-left" href="/contact">كلمنا دلوقتي</a>
                <br>
            </div>

            <div class="grid g-two">

                <div class="services-item hvr-bob">
                    <img src="/user/images/collect.svg" alt="">

                    <div class="mt-3">
                        <h5 class="mb-2" style="font-weight: 600;"><a href="#" class="stretched-link"
                                style="color: #9B5DE5">تحصيل يومي</a></h5>
                        <p>نعلم اهميه سرعه حركه المال لذلك نضمن لا تحصيل يومي لأموالك</p>

                    </div>
                </div>


                <div class="services-item hvr-bob">
                    <img src="/user/images/money.svg" alt="">
                    <div class="mt-3">
                        <h5 class="mb-2" style="font-weight: 600;">
                            <a href="#" class="stretched-link" style="color: #9b5de5">احسن سعر</a></h5>
                        <p>لأننا يهمنا رضاء عملائك, نضمن لك احسن سعر بالمقارنه بالأخرين</p>

                    </div>
                </div>


                <div class="services-item hvr-bob">
                    <img src="/user/images/plane.svg" alt="">

                    <div class="mt-3">
                        <h5 class="mb-2" style="font-weight: 600;"><a href="#" class="stretched-link"
                                style="color: #9B5DE5">شحن سريع</a></h5>
                        <p>اسرع تجربه شحن بحد اقصي 48 ساعه</p>

                    </div>
                </div>


                <div class="services-item hvr-bob">
                    <img src="/user/images/callcenter.svg" alt="">

                    <div class="mt-3">
                        <h5 class="mb-2" style="font-weight: 600;"><a href="#" class="stretched-link"
                                style="color: #9B5DE5">دائما موجودون لأجلك</a></h5>
                        <p>تواصل معانا في اي وقت سنكون موجودين دائما</p>

                    </div>
                </div>

            </div>


        </section>

        <section id="signup">
            <div class="section-wrapper grid g-two">
                <div>
                    <h2>سجل دلوقتي</h2>
                    <p> بتسجيلك دلوقتي معناه انك بتحجز اول توصيله ليك عندنا و هتبقي <span>ببلاش</span> في اي حته جوه
                        القاهره</p>
                    <small> بحد اقصي 1 كيلو جرام للشحنه المجانيه</small>
                    <div>
                        <img class="w-50 m-auto block" src="/user/images/box.svg" alt="">
                    </div>
                </div>
                <form class="auth-form" action="/signup" method="POST">
                    <div class="auth-form_normal">
                        <div class="form-control">
                            <label for="name">الاسم</label>
                            <input required type="text" name="name" id="name">
                        </div>
                        <div class="form-control">
                            <label for="mobile">رقم الموبايل</label>
                            <input required type="text" name="mobile" id="mobile">
                        </div>
                        <div class="form-control">
                            <label for="password">الرقم السري</label>
                            <input required type="password" name="password" id="password">
                        </div>
                        <div class="form-control">
                            <label for="confirmPassword"> اعاده الرقم السري</label>
                            <input required type="confirmPassword" name="confirmPassword" id="confirmPassword">
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn hvr-bounce-to-left btn-normal btn-success" type="submit">سجل</button>

                    </div>

                </form>
            </div>
        </section>
    </div>

    <%- include('../includes/footer.ejs') %>
    <p class="footer-copyright">Designed and developed by <a style="color:#fff;"
            href="https://amsstudio.me">AMS-Studio</a> </p>
    <%- include('../includes/scripts.ejs') %>

</body>

</html>