<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include('../includes/dashboard_style.ejs') %>
        <link rel="stylesheet" href="/user/css/shipment.css">


</head>

<body class="opened-menu">
    <%- include('../includes/top-menu.ejs') %>
        <%- include('../includes/dashboard-menu.ejs') %>
            <div class="wrapper">
                <div class="wrapper-body">

                    <%if(user && user._id.toString()==shipment.user.toString() ) { %>

                        <div class="wrapper-body_head">
                            <div class="left">
                                <h2>حسابي</h2>
                                <h3> <a href="/user/shipments">الشحنات</a> > <a href="">
                                        <%=shipment.shipmentNo%>
                                    </a></h3>
                            </div>
                            <%if(user && user._id.toString()==shipment.user.toString() && shipment.status.no==1) { %>
                                <form action="/user/order/cancel" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="id" value="<%=shipment._id%>">
                                    <button type="submit" class="btn bg-r"> الغاء الشحنه</button>
                                </form>

                                <% } %>
                        </div>
                        <% } %>

                            <div class="order-boxs">
                                <div class="order-box ">
                                    <h2>معلومات الشحنه</h2>
                                    <p>رقم الشحنه: <b>
                                            <%= shipment.shipmentNo %>
                                        </b> </p>
                                    <p>حاله الشحنه: <b>
                                            <%= shipment.status.text %>
                                        </b> </p>
                                    <p>تاريخ التسليم: <b>
                                            <%= shipment.delivery_date %>
                                        </b></p>
                                    <p>سعر المنتج: <b>
                                            <%= shipment.price %>
                                        </b> </p>
                                    <p>الكميه: <b>
                                            <%= shipment.quantity %>
                                        </b> </p>
                                    <p>قابل للكسر: <b>
                                            <%= shipment.is_fragile? 'نعم' : 'لا' %>
                                        </b> </p>
                                    <p>سائل: <b>
                                            <%= shipment.is_liquid? 'نعم' : 'لا' %>
                                        </b> </p>
                                    <p>سعر الشحن: <b>
                                            <%= shipment.shipping_price %>
                                        </b></p>
                                    <p>السائق: <b>
                                            <%= shipment.driver.name %>
                                        </b></p>
                                    <h3 class="f-right bg-b c-w p-3"> التكلفه الكليه: <b>
                                            <%= shipment.total_price %>
                                        </b></h3>
                                </div>
                                <div>
                                    <div class="order-box ">
                                        <h2>معلومات الراسل</h2>

                                        <p>اسم الراسل: <b>
                                                <%= shipment.pickup.name %>
                                            </b></p>
                                        <p>رقم الراسل: <b>
                                                <%= shipment.pickup.phone%>
                                            </b></p>
                                        <p>عنوان الراسل: <b>
                                                <%= shipment.pickup.address %>
                                            </b></p>
                                        <p> الدور: <b>
                                                <%= shipment.pickup.building %>
                                            </b></p>
                                        <p>رقم الشقه : <b>
                                                <%= shipment.pickup.apratment %>
                                            </b></p>
                                    </div>

                                    <div class="order-box">
                                        <h2>معلومات المستلم</h2>

                                        <p>اسم المستلم: <b>
                                                <%= shipment.receiver.name %>
                                            </b></p>
                                        <p>رقم المستلم: <b>
                                                <%= shipment.receiver.phone%>
                                            </b></p>
                                        <p>عنوان المستلم: <b>
                                                <%= shipment.receiver.address %>
                                            </b></p>
                                        <p>المنطقه : <b>
                                                <%= shipment.receiver.zone.name %>
                                            </b></p>
                                        <p> الدور: <b>
                                                <%= shipment.receiver.building %>
                                            </b></p>
                                        <p>رقم الشقه : <b>
                                                <%= shipment.receiver.apratment %>
                                            </b></p>
                                    </div>
                                </div>



                            </div>




                </div>
            </div>
            <p class="footer-copyright">Designed and developed by <a style="color:#fff;"
                    href="https://amsstudio.me">AMS-Studio</a> </p>
            <%- include('../includes/scripts.ejs') %>
</body>

</html>