<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/settings.css" />

</head>

<body>
    <%- include('../includes/side-nav.ejs') %>
        <div class="wrapper">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <%- include('../../includes/message.ejs') %>



                <main>
                    <div class="content  g-three">
                        <div class="content-desc">
                            <span>اسم المشرف</span>
                            <span>رقم المشرف</span>
                            <span>دور المشرف</span>
                        </div>
                        <div class="items">
                            <% for ( c of admins){ %>
                                <div class="content-item btn_hover_effect ">

                                    <a href="/admin/settings/new-admin?edit=true&&id=<%=c._id%>">
                                        <div class="content-item_body">
                                            <p>
                                                <%=c.name%>
                                            </p>
                                            <p>
                                                <%=c.mobile%>
                                            </p>
                                            <p>
                                                <%=c.role%>
                                            </p>
                                            <input type="hidden" name="id" value="<%=c._id%>">
                                        </div>
                                    </a>
                                </div>

                                <%}%>
                        </div>
                        <img class="loading none" src="/admin/images/loading(3).svg">
                    </div>
                </main>

        </div>


        <%- include('../includes/scripts.ejs') %>
            <!-- <script src="/admin/modules/components/drivers.js"> </script> -->
            <!-- <script src="/admin/modules/interface/drivers.js"> </script> -->
</body>

</html>